# Auto detect text files and perform LF normalization
* text=auto
# Corrige permissões de arquivos executáveis ao clonar em sistemas Unix/Linux
node_modules/.bin/* text eol=lf
node_modules/.bin/* binary
node_modules/.bin/* filter=lfs diff=lfs merge=lfs -text
*.sh text eol=lf
*.sh binary
*.sh filter=lfs diff=lfs merge=lfs -text
